<!DOCTYPE html>
<div
    class="margin-left:10px"
    sortable
    array="files"
    object
    filter-key="content-type"
    filter-value="text/directory"
    filter-limit=""
    render-selector=":last-child">
    <!--Folder Template -->
    <div class="padding:5px" template render="object" object="{{object._id}}">
        <div
            toggle-attribute="hidden"
            toggle-value=""
            toggle-next
            click-attribute="src"
            click-value="../builder/components/filetree.html"
            click-next>
            <div
                toggle="../../../assets/svg/caret-down.svg, ../../../assets/svg/caret-right.svg"
                toggle-selector="i"
                toggle-attribute="src">
                <i
                    toggle="../../../assets/svg/caret-down.svg, ../../../assets/svg/caret-right.svg"
                    toggle-attribute="src"
                    src="../../../assets/svg/caret-right.svg"></i>
                <span
                    class="margin-left:5px"
                    array="files"
                    object="{{object._id}}"
                    key="name"
                    >{{object.name}}</span
                >
            </div>
        </div>
        <div
            class="margin-left:10px"
            filter-key="path"
            filter-value="{{object.pathname}}"
            filter-operator="$eq"
            filter-sort-key="name"
            filter-sort-direction="asc"
            filter-selector=":scope > div[]"
            hidden></div>
    </div>
</div>
<div
    class="margin-left:10px"
    sortable
    array="files"
    object
    filter-key="content-type"
    filter-value="text/directory"
    filter-operator="$ne"
    filter-limit=""
    render-selector="[template]">
    <!--File Template -->
    <div class="padding:5px" template render="object" object="{{object._id}}">
        <span
            value="{{object.content-type}}"
            value-exec="/^(image|video|audio)|(?:\/x-)?\/([^\/]+)$/"
            value-replace="/html/, 'html5'"
            value-prefix="../../../assets/svg/"
            value-suffix=".svg">
            <i src="../../../assets/svg/html5.svg"></i>
        </span>
        <span
            class="margin-left:5px"
            array="files"
            object="{{object._id}}"
            key="name"
            >{{object.name}}</span
        >
    </div>
</div>
