*{padding:0px; margin:0px;}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }
  
body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: #505050;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  }
  
a {
  text-decoration: none;
  cursor: pointer;
  align-items: center;
  color: inherit;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 15px;
}

nav {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    padding: 30px 0px;
}

.logo-name {
    font-size: 32px;
}

.logo-name-colored {
    font-size: 32px;
    color: #007bff;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.button-question {
    padding: 15px 30px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease,
        border 0.3s ease;
    border: 2px solid #007bff;
    background-color: #f0f0f0;
    color: #007bff;
    border-radius: 8px;
    width: 400px;
    min-width: 100px;
    max-width: 600px;
}

.button-question:hover {
    background-color: #007bff;
    color: #fff;
}

.second-container {
    display: none;
}

@media (max-width: 768px) {
    .button-question {
        width: 100%;
    }
}
.show[selected]{
    display:block!important;
}

[hidden] {
    display: none
}

.button-round {
    position: absolute;
    bottom:15px;
    right:15px; 
    border: 2px solid #007bff;
    background-color: #f0f0f0;
    color: #007bff;            
    border-radius:50%; 
    padding:15px; 
    width:50px; 
    height:50px;
}

.button-round:hover {
    background-color: #007bff;
    color: #fff;
    fill: #007bff;
}

.button-round i {
    height: 20px;
    fill: #007bff;
}

.button-round:hover i {
    fill: #fff;
}

sidenav {
    position: fixed; 
    top: 0px; 
    left: 0px; 
    overflow: hidden; 
    background: whitesmoke; 
    height: 100vh; 
    width: 0px;
    z-index: 10;
}

sidenav .close {
    float: right;
    padding: 10px;
}

sidenav ul {
    padding-top: 80px;
}

sidenav ul li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    line-height: 40px;
    height:40px;
    overflow:hidden;
    white-space:nowrap;
}

sidenav ul li:hover {
    background: lightgray;
}

[sidenav="open"] sidenav{
    width: 270px
}