<!DOCTYPE html>
<div
    class="display:flex justify-content:space-between align-items:center padding:10px">
    <!-- Logo -->
    <a
        href="{{path}}"
        actions="state"
        state_to="mainView"
        state-src="./oracle/index.html"
        class="height:50px width:210px display:flex align-items:center">
        <img height="50px" src="{{path}}assets/icons/icon-1240-1240.png" />
        <span class="logo-name"
            >Yellow <span class="logo-name-colored">Oracle</span></span
        >
    </a>

    <!-- Menu Icon -->
    <a
        class="menu_icon"
        click="active"
        click-attribute="class"
        click-selector="document; .menu_icon[]"
        toggle="width:0px,"
        toggle-selector="document; #menuL"
        toggle-attribute="style">
        <span></span>
        <span></span>
        <span></span>
    </a>
</div>

<ul>
    <!-- Navigation -->
    <div
        class="color:#212121 text-transform:uppercase margin-bottom:30px display:none@md@lg@xl">
        <a
            href="{{path}}"
            actions="state"
            state_to="mainView"
            state-src="./oracle/index.html"
            class="display:block color:#F7CC02:hover padding:12px_24px"
            >Home</a
        >
        <a
            href="{{path}}"
            actions="state"
            state_to="mainView"
            state-src="./oracle/discover.html"
            class="display:block color:#F7CC02:hover padding:12px_24px"
            >Discover</a
        >
        <a
            href="{{path}}account/"
            class="display:block color:#F7CC02:hover padding:12px_24px"
            >Account</a
        >
    </div>

    <li class="">
        <a
            actions="state, action(document; .menu_icon)"
            state_to="accountView"
            state-src="./profile/"
            class="display:flex align-items:center">
            <span class="display:flex justify-content:center min-width:50px">
                <i
                    class="display:flex height:16px"
                    src="../assets/svg/user.svg"></i>
            </span>
            <span>Profile</span>
        </a>
    </li>
    <li class="">
        <a
            actions="state, action(document; .menu_icon)"
            state_to="accountView"
            state-src="./answers/"
            class="display:flex align-items:center">
            <span class="display:flex justify-content:center min-width:50px">
                <i
                    class="display:flex height:16px"
                    src="../assets/svg/circle-question.svg"></i>
            </span>
            <span>Answers</span>
        </a>
    </li>
    <li class="">
        <a
            actions="state, action(document; .menu_icon)"
            state_to="accountView"
            state-src="./careers/"
            state-overwrite
            class="display:flex align-items:center">
            <span class="display:flex justify-content:center min-width:50px">
                <i
                    class="display:flex height:16px"
                    src="../assets/svg/person-dots-from-line.svg"></i>
            </span>
            <span>Careers</span>
        </a>
    </li>

    <li class="">
        <a
            actions="state, action(document; .menu_icon)"
            state_to="accountView"
            state-src="./subscription/"
            state-overwrite
            class="display:flex align-items:center">
            <span class="display:flex justify-content:center min-width:50px">
                <i
                    class="display:flex height:16px"
                    src="../assets/svg/clipboard-question.svg"></i>
            </span>
            <span>Subscription</span>
        </a>
    </li>
</ul>
<div
    class="line-height:40px height:40px overflow:hidden white-space:nowrap position:absolute bottom:0px background:gainsboro width:100%">
    <a
        actions="signOut"
        href="./signin.html"
        class="display:flex align-items:center">
        <span class="display:flex justify-content:center min-width:50px">
            <i
                class="display:flex height:16px"
                src="../assets/svg/sign-out-alt.svg"></i>
        </span>
        <span>Sign Out</span>
    </a>
</div>
