<div
	class="width:100%"
	resize-attribute="menu-icon"
	resize-value="active"
	resize-if="300px"
	resize-query="$document [menu-icon][]"></div>
<div
	class="width:100%"
	resize-attribute="menu-icon"
	resize-value="false"
	resize-if="0px"
	resize-query="$document [menu-icon][]"></div>

<div
	class="display:flex justify-content:space-between align-items:center padding:10px">
	<div src="../components/org-selector.html" class="width:210px"></div>

	<!-- Menu Icon -->
	<a
		menu-icon
		class="margin-right:5px!important"
		toggle="width:0px,"
		toggle-query="$document #menuL"
		toggle-attribute="style">
		<span></span>
		<span></span>
		<span></span>
	</a>
</div>

<ul class="overflow:auto height:calc(100vh_-_110px) padding-bottom:50px">
	<!-- Navigation -->
	<menu
		class="text-transform:uppercase margin-bottom:30px display:none@md@lg@xl">
		<h3 class="text-transform:capitalize margin:50px_10px_5px">
			Navigation
		</h3>
		<a
			href="$relativePath/"
			actions="state"
			state_to="mainView"
			state-src="$relativePath/home/"
			click-query="$closest sidenav"
			click-attribute="style"
			click-value="width:0px"
			click-if="<=993px"
			click-if-value="$innerWidth"
			class="display:block padding:12px_24px"
			>Home</a
		>
		<a
			href="$relativePath/"
			actions="state"
			state_to="mainView"
			state-src="$relativePath/oracle/"
			click-query="$closest sidenav"
			click-attribute="style"
			click-value="width:0px"
			click-if="<=993px"
			click-if-value="$innerWidth"
			class="display:block padding:12px_24px"
			>Oracle</a
		>
		<a
			href="$relativePath/blog/index.html"
			class="display:block padding:12px_24px"
			>Blog</a
		>
		<a
			href="$relativePath/"
			actions="state"
			state_to="mainView"
			state-src="$relativePath/account/profile/"
			click-query="$closest sidenav"
			click-attribute="style"
			click-value="width:0px"
			click-if="<=993px"
			click-if-value="$innerWidth"
			class="display:block padding:12px_24px"
			>Account</a
		>
	</menu>

	<menu id="account" session>
		<!-- TODO: if no subscription click redirect to checkout -->

		<h3 class="margin:50px_10px_5px">Account</h3>
		<li
			href="$relativePath/"
			click-query="$closest sidenav"
			click-attribute="style"
			click-value="width:0px"
			click-if="<=993px"
			click-if-value="$innerWidth">
			<a
				actions="state"
				state_to="mainView"
				state-src="$pathaccount/profile/"
				class="display:flex align-items:center">
				<span
					class="display:flex justify-content:center min-width:50px">
					<i src="$relativePath/assets/svg/user.svg"></i>
				</span>
				<span>Profile</span>
			</a>
		</li>

		<!-- <li
			href="$relativePath/"
			click-query="$closest sidenav"
			click-attribute="style"
			click-value="width:0px"
			click-if="<=993px"
			click-if-value="$innerWidth">
			<a
				actions="state"
				state_to="mainView"
				state-src="$relativePath/account/organizations/datatable.html"
				class="display:flex align-items:center">
				<span
					class="display:flex justify-content:center min-width:50px">
					<i src="$relativePath/assets/svg/building.svg"></i>
				</span>
				<span>Organizations</span>
			</a>
			<div class="float:right width:50px text-align:center">
				<a
					actions="state"
					state_to="mainView"
					state-src="$relativePath/account/organizations/form.html"
					click-query="$document [state_id='form-fields']"
					click-action="reset"
					class="display:flex justify-content:center align-items:center height:40px">
					<i src="$relativePath/assets/svg/plus.svg"></i>
					<div state_to="form-fields" state-object=""></div>
				</a>
			</div>
		</li>
 -->
		<li
			href="$relativePath/"
			click-query="$closest sidenav"
			click-attribute="style"
			click-value="width:0px"
			click-if="<=993px"
			click-if-value="$innerWidth">
			<a
				actions="state"
				state_to="mainView"
				state-src="$relativePath/account/answers/"
				class="display:flex align-items:center">
				<span
					class="display:flex justify-content:center min-width:50px">
					<i src="$relativePath/assets/svg/circle-question.svg"></i>
				</span>
				<span>Answers</span>
			</a>
		</li>
		<li
			href="$relativePath/"
			click-query="$closest sidenav"
			click-attribute="style"
			click-value="width:0px"
			click-if="<=993px"
			click-if-value="$innerWidth">
			<a
				actions="state"
				state_to="mainView"
				state-src="$relativePath/account/careers/"
				class="display:flex align-items:center">
				<span
					class="display:flex justify-content:center min-width:50px">
					<i
						src="$relativePath/assets/svg/person-dots-from-line.svg"></i>
				</span>
				<span>Careers</span>
			</a>
		</li>

		<li
			href="$relativePath/"
			click-query="$closest sidenav"
			click-attribute="style"
			click-value="width:0px"
			click-if="<=993px"
			click-if-value="$innerWidth">
			<a
				actions="state"
				state_to="mainView"
				state-src="$relativePath/account/subscription/"
				class="display:flex align-items:center">
				<span
					class="display:flex justify-content:center min-width:50px">
					<!-- <i src="$relativePath/assets/svg/clipboard-question.svg"></i> -->
					<i src="$relativePath/assets/svg/money-bill-wave.svg"></i>
				</span>
				<span>Subscription</span>
			</a>
		</li>

		<li
			href="$relativePath/"
			click-query="$closest sidenav"
			click-attribute="style"
			click-value="width:0px"
			click-if="<=993px"
			click-if-value="$innerWidth">
			<a
				actions="state"
				state_to="mainView"
				state-src="$relativePath/account/ambassador/"
				class="display:flex align-items:center">
				<span
					class="display:flex justify-content:center min-width:50px">
					<i src="$relativePath/assets/svg/bullhorn.svg"></i>
				</span>
				<span>Ambassador</span>
			</a>
		</li>

		<li
			href="$relativePath/"
			click-query="$closest sidenav"
			click-attribute="style"
			click-value="width:0px"
			click-if="<=993px"
			click-if-value="$innerWidth">
			<a
				actions="state"
				state_to="mainView"
				state-src="$relativePath/account/advertise/"
				class="display:flex align-items:center">
				<span
					class="display:flex justify-content:center min-width:50px">
					<i src="$relativePath/assets/svg/rectangle-ad.svg"></i>
				</span>
				<span>Advertise</span>
			</a>
			<div class="float:right width:50px text-align:center">
				<a
					actions="state"
					state_to="mainView"
					state-src="$relativePath/account/advertise/form.html"
					click-query="$document [state_id='form-fields']"
					click-action="reset"
					class="display:flex justify-content:center align-items:center height:40px">
					<i src="$relativePath/assets/svg/plus.svg"></i>
					<div state_to="form-fields" state-object=""></div>
				</a>
			</div>
		</li>

		<ul class="sub-menu">
			<li
				href="$relativePath/"
				click-query="$closest sidenav"
				click-attribute="style"
				click-value="width:0px"
				click-if="<=993px"
				click-if-value="$innerWidth">
				<a
					actions="state"
					state_to="mainView"
					state-src="$relativePath/account/advertise/applicants/datatable.html"
					class="display:flex align-items:center">
					<span
						class="display:flex justify-content:center min-width:50px">
					</span>
					<span>Applicants</span>
				</a>
			</li>
			<!-- <li
				href="$relativePath/"
				click-query="$closest sidenav"
				click-attribute="style"
				click-value="width:0px"
				click-if="<=993px"
				click-if-value="$innerWidth">
				<a
					actions="state"
					state_to="mainView"
					state-src="$relativePath/account/advertise/usage/index.html"
					class="display:flex align-items:center">
					<span
						class="display:flex justify-content:center min-width:50px">
					</span>
					<span>Usage</span>
				</a>
			</li> -->
		</ul>

		<li
			href="$relativePath/"
			click-query="$closest sidenav"
			click-attribute="style"
			click-value="width:0px"
			click-if="<=993px"
			click-if-value="$innerWidth">
			<a share class="display:flex align-items:center">
				<span
					class="display:flex justify-content:center min-width:50px">
					<i src="$relativePath/assets/svg/share-alt.svg"></i>
				</span>
				<span>Share</span>
			</a>
		</li>
	</menu>

	<menu id="admin" session>
		<input
			type="hidden"
			id="isadmin"
			array="keys"
			object="652c8d62a91e10cd4800fffb"
			key="key"
			input-query="$parent"
			input-attribute="admin"
			input-value="true" />

		<h3 class="margin:50px_10px_5px">Admin</h3>

		<li
			href="$relativePath/"
			click-query="$closest sidenav"
			click-attribute="style"
			click-value="width:0px"
			click-if="<=993px"
			click-if-value="$innerWidth">
			<a
				actions="state"
				state_to="mainView"
				state-src="$relativePath/admin/users/datatable.html"
				class="display:flex align-items:center">
				<span
					class="display:flex justify-content:center min-width:50px">
					<i src="$relativePath/assets/svg/users.svg"></i>
				</span>
				<span>Users</span>
			</a>
			<div class="float:right width:50px text-align:center">
				<a
					actions="state"
					state_to="mainView"
					state-src="$relativePath/admin/users/form.html"
					click-query="$document [state_id='form-fields']"
					click-action="reset"
					class="display:flex justify-content:center align-items:center height:40px">
					<i src="$relativePath/assets/svg/plus.svg"></i>
					<div state_to="form-fields" state-object=""></div>
				</a>
			</div>
		</li>
		<li
			href="$relativePath/"
			click-query="$closest sidenav"
			click-attribute="style"
			click-value="width:0px"
			click-if="<=993px"
			click-if-value="$innerWidth">
			<a
				actions="state"
				state_to="mainView"
				state-src="$relativePath/admin/organizations/datatable.html"
				class="display:flex align-items:center">
				<span
					class="display:flex justify-content:center min-width:50px">
					<i src="$relativePath/assets/svg/people-roof.svg"></i>
				</span>
				<span>Organizations</span>
			</a>
			<div class="float:right width:50px text-align:center">
				<a
					actions="state"
					state_to="mainView"
					state-src="$relativePath/admin/organizations/form.html"
					click-query="$document [state_id='form-fields']"
					click-action="reset"
					class="display:flex justify-content:center align-items:center height:40px">
					<i src="$relativePath/assets/svg/plus.svg"></i>
					<div state_to="form-fields" state-object=""></div>
				</a>
			</div>
		</li>
		<li
			href="$relativePath/"
			click-query="$closest sidenav"
			click-attribute="style"
			click-value="width:0px"
			click-if="<=993px"
			click-if-value="$innerWidth">
			<a
				actions="state"
				state_to="mainView"
				state-src="$relativePath/admin/payments/datatable.html"
				class="display:flex align-items:center">
				<span
					class="display:flex justify-content:center min-width:50px">
					<i src="$relativePath/assets/svg/credit-card.svg"></i>
				</span>
				<span>Payments</span>
			</a>
			<div class="float:right width:50px text-align:center">
				<a
					actions="state"
					state_to="mainView"
					state-src="$relativePath/admin/payments/form.html"
					click-query="$document [state_id='form-fields']"
					click-action="reset"
					class="display:flex justify-content:center align-items:center height:40px">
					<i src="$relativePath/assets/svg/plus.svg"></i>
					<div state_to="form-fields" state-object=""></div>
				</a>
			</div>
		</li>
		<li
			href="$relativePath/"
			click-query="$closest sidenav"
			click-attribute="style"
			click-value="width:0px"
			click-if="<=993px"
			click-if-value="$innerWidth">
			<a
				actions="state"
				state_to="mainView"
				state-src="$relativePath/admin/payouts/datatable.html"
				class="display:flex align-items:center">
				<span
					class="display:flex justify-content:center min-width:50px">
					<i
						src="$relativePath/assets/svg/hand-holding-dollar.svg"></i>
				</span>
				<span>Payouts</span>
			</a>
			<div class="float:right width:50px text-align:center">
				<a
					actions="state"
					state_to="mainView"
					state-src="$relativePath/admin/payouts/form.html"
					click-query="$document [state_id='form-fields']"
					click-action="reset"
					class="display:flex justify-content:center align-items:center height:40px">
					<i src="$relativePath/assets/svg/plus.svg"></i>
					<div state_to="form-fields" state-object=""></div>
				</a>
			</div>
		</li>
		<li
			href="$relativePath/"
			click-query="$closest sidenav"
			click-attribute="style"
			click-value="width:0px"
			click-if="<=993px"
			click-if-value="$innerWidth">
			<a
				actions="state"
				state_to="mainView"
				state-src="$relativePath/admin/blog/datatable.html"
				class="display:flex align-items:center">
				<span
					class="display:flex justify-content:center min-width:50px">
					<i src="$relativePath/assets/svg/blog.svg"></i>
				</span>
				<span>Blog Posts</span>
			</a>
			<div class="float:right width:50px text-align:center">
				<a
					actions="state"
					state_to="mainView"
					state-src="$relativePath/admin/blog/form.html"
					click-query="$document [state_id='form-fields']"
					click-action="reset"
					class="display:flex justify-content:center align-items:center height:40px">
					<i src="$relativePath/assets/svg/plus.svg"></i>
					<div state_to="form-fields" state-object=""></div>
				</a>
			</div>
		</li>
		<li
			href="$relativePath/"
			click-query="$closest sidenav"
			click-attribute="style"
			click-value="width:0px"
			click-if="<=993px"
			click-if-value="$innerWidth">
			<a
				actions="state"
				state_to="mainView"
				state-src="$relativePath/admin/social/index.html"
				class="display:flex align-items:center">
				<span
					class="display:flex justify-content:center min-width:50px">
					<i src="$relativePath/assets/svg/share-from-square.svg"></i>
				</span>
				<span>Social Posts</span>
			</a>
			<div class="float:right width:50px text-align:center">
				<a
					actions="state"
					state_to="mainView"
					state-src="$relativePath/admin/social/form.html"
					click-query="$document [state_id='form-fields']"
					click-action="reset"
					class="display:flex justify-content:center align-items:center height:40px">
					<i src="$relativePath/assets/svg/plus.svg"></i>
					<div state_to="form-fields" state-object=""></div>
				</a>
			</div>
		</li>
		<li
			href="$relativePath/"
			click-query="$closest sidenav"
			click-attribute="style"
			click-value="width:0px"
			click-if="<=993px"
			click-if-value="$innerWidth">
			<a
				state_to="mainView"
				state-src="$relativePath/admin/email-campaigns/datatable.html"
				class="display:flex align-items:center">
				<span
					class="display:flex justify-content:center min-width:50px">
					<i src="$relativePath/assets/svg/email-campaign.svg"></i>
				</span>
				<span>Email Campaigns</span>
			</a>
			<div class="float:right width:50px text-align:center">
				<a
					actions="state"
					state_to="mainView"
					state-src="$relativePath/admin/email-campaigns/form.html"
					click-query="$document [state_id='form-fields']"
					click-action="reset"
					class="display:flex justify-content:center align-items:center height:40px">
					<i src="$relativePath/assets/svg/plus.svg"></i>
					<div state_to="form-fields" state-object=""></div>
				</a>
			</div>
		</li>
		<li
			href="$relativePath/"
			click-query="$closest sidenav"
			click-attribute="style"
			click-value="width:0px"
			click-if="<=993px"
			click-if-value="$innerWidth">
			<a
				actions="state"
				state_to="mainView"
				state-src="$relativePath/admin/questions/datatable.html"
				class="display:flex align-items:center">
				<span
					class="display:flex justify-content:center min-width:50px">
					<i src="$relativePath/assets/svg/circle-question.svg"></i>
				</span>
				<span>Questions</span>
			</a>
			<div class="float:right width:50px text-align:center">
				<a
					actions="state"
					state_to="mainView"
					state-src="$relativePath/admin/questions/form.html"
					click-query="$document [state_id='form-fields']"
					click-action="reset"
					class="display:flex justify-content:center align-items:center height:40px">
					<i src="$relativePath/assets/svg/plus.svg"></i>
					<div state_to="form-fields" state-object=""></div>
				</a>
			</div>
		</li>
		<li
			href="$relativePath/"
			click-query="$closest sidenav"
			click-attribute="style"
			click-value="width:0px"
			click-if="<=993px"
			click-if-value="$innerWidth">
			<a
				actions="state"
				state_to="mainView"
				state-src="$relativePath/admin/careers/datatable.html"
				class="display:flex align-items:center">
				<span
					class="display:flex justify-content:center min-width:50px">
					<i
						src="$relativePath/assets/svg/person-dots-from-line.svg"></i>
				</span>
				<span>Careers</span>
			</a>
			<div class="float:right width:50px text-align:center">
				<a
					actions="state"
					state_to="mainView"
					state-src="$relativePath/admin/careers/form.html"
					click-query="$document [state_id='form-fields']"
					click-action="reset"
					class="display:flex justify-content:center align-items:center height:40px">
					<i src="$relativePath/assets/svg/plus.svg"></i>
					<div state_to="form-fields" state-object=""></div>
				</a>
			</div>
		</li>
		<li
			href="$relativePath/"
			click-query="$closest sidenav"
			click-attribute="style"
			click-value="width:0px"
			click-if="<=993px"
			click-if-value="$innerWidth">
			<a
				actions="state"
				state_to="mainView"
				state-src="$relativePath/admin/subscriptions/datatable.html"
				class="display:flex align-items:center">
				<span
					class="display:flex justify-content:center min-width:50px">
					<i src="$relativePath/assets/svg/money-bill-wave.svg"></i>
				</span>
				<span>Subscriptions</span>
			</a>
			<div class="float:right width:50px text-align:center">
				<a
					actions="state"
					state_to="mainView"
					state-src="$relativePath/admin/subscriptions/form.html"
					click-query="$document [state_id='form-fields']"
					click-action="reset"
					class="display:flex justify-content:center align-items:center height:40px">
					<i src="$relativePath/assets/svg/plus.svg"></i>
					<div state_to="form-fields" state-object=""></div>
				</a>
			</div>
		</li>
		<li
			href="$relativePath/"
			click-query="$closest sidenav"
			click-attribute="style"
			click-value="width:0px"
			click-if="<=993px"
			click-if-value="$innerWidth">
			<a
				actions="state"
				state_to="mainView"
				state-src="$relativePath/admin/advertisements/datatable.html"
				class="display:flex align-items:center">
				<span
					class="display:flex justify-content:center min-width:50px">
					<i src="$relativePath/assets/svg/rectangle-ad.svg"></i>
				</span>
				<span>Advertisements</span>
			</a>

			<div class="float:right width:50px text-align:center">
				<a
					actions="state"
					state_to="mainView"
					state-src="$relativePath/admin/advertisements/form.html"
					click-query="$document [state_id='form-fields']"
					click-action="reset"
					class="display:flex justify-content:center align-items:center height:40px">
					<i src="$relativePath/assets/svg/plus.svg"></i>
					<div state_to="form-fields" state-object=""></div>
				</a>
			</div>
		</li>
		<li
			href="$relativePath/"
			click-query="$closest sidenav"
			click-attribute="style"
			click-value="width:0px"
			click-if="<=993px"
			click-if-value="$innerWidth">
			<a
				actions="state"
				state_to="mainView"
				state-src="$relativePath/admin/ai/datatable.html"
				class="display:flex align-items:center">
				<span
					class="display:flex justify-content:center min-width:50px">
					<i src="$relativePath/assets/svg/brain.svg"></i>
				</span>
				<span>AI Settings</span>
			</a>

			<div class="float:right width:50px text-align:center">
				<a
					actions="state"
					state_to="mainView"
					state-src="$relativePath/admin/ai/form.html"
					click-query="$document [state_id='form-fields']"
					click-action="reset"
					class="display:flex justify-content:center align-items:center height:40px">
					<i src="$relativePath/assets/svg/plus.svg"></i>
					<div state_to="form-fields" state-object=""></div>
				</a>
			</div>
		</li>
		<li
			href="$relativePath/"
			click-query="$closest sidenav"
			click-attribute="style"
			click-value="width:0px"
			click-if="<=993px"
			click-if-value="$innerWidth">
			<a
				href="$relativePath/admin/builder/"
				state_to="builder"
				state-object="66f6d0cb004fd1aefd6d070d"
				class="display:flex align-items:center">
				<span
					class="display:flex justify-content:center min-width:50px">
					<i src="$relativePath/assets/svg/palette.svg"></i>
				</span>
				<span>Builder</span>
			</a>
		</li>
		<li
			href="$relativePath/"
			click-query="$closest sidenav"
			click-attribute="style"
			click-value="width:0px"
			click-if="<=993px"
			click-if-value="$innerWidth">
			<a
				href="$relativePath/admin/code-editor/"
				state_to="code-editor"
				state-object="66f6d0cb004fd1aefd6d070d"
				class="display:flex align-items:center">
				<span
					class="display:flex justify-content:center min-width:50px">
					<i src="$relativePath/assets/svg/code.svg"></i>
				</span>
				<span>Code</span>
			</a>
		</li>
	</menu>
	<div
		class="line-height:40px height:40px overflow:hidden white-space:nowrap position:absolute bottom:0px width:100% background:#222@dark">
		<a
			actions="signOut"
			href="$relativePath/signin.html"
			class="display:flex align-items:center">
			<span class="display:flex justify-content:center min-width:50px">
				<i src="$relativePath/assets/svg/sign-out-alt.svg"></i>
			</span>
			<span>Sign Out</span>
		</a>
	</div>
</ul>
