* {
    padding: 0px;
    margin: 0px;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #505050;
    padding: 15px;
    font-size: 1rem;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
    align-items: center;
    color: inherit;
}

nav {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px);
}

.logo-name {
    font-size: 32px;
}

.logo-name-colored {
    font-size: 32px;
    color: #007bff;
}

.menu_icon {
    position: fixed;
    left: 15px;
    top: 25px;
    z-index: 11
}

button {
    padding: 15px 30px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease,
        border 0.3s ease;
    border: 2px solid #007bff;
    background-color: #f0f0f0;
    color: #007bff;
    border-radius: 8px;
}

button:hover {
    background-color: #007bff;
    color: #fff;
}

.second-container {
    display: none;
}

@media (max-width: 768px) {
    .button-question {
        width: 100%;
    }
}

.show[selected] {
    display: block !important;
}

[hidden] {
    display: none
}

.button-round {
    position: fixed;
    bottom: 15px;
    right: 15px;
    border: 2px solid #007bff;
    background-color: #f0f0f0;
    color: #007bff;
    border-radius: 50%;
    padding: 15px;
    width: 50px;
    height: 50px;
}

.button-round:hover {
    background-color: #007bff;
    color: #fff;
    fill: #007bff;
}

.button-round i {
    height: 20px;
    fill: #007bff;
}

.button-round:hover i {
    fill: #fff;
}

sidenav {
    position: fixed;
    top: 0px;
    left: 0px;
    overflow: hidden;
    background: whitesmoke;
    height: 100vh;
    width: 0px;
    z-index: 10;
}

sidenav .close {
    float: right;
    padding: 10px;
}

sidenav ul {
    padding-top: 80px;
}

sidenav ul li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    line-height: 40px;
    height: 40px;
    overflow: hidden;
    white-space: nowrap;
}

sidenav ul li:hover {
    background: lightgray;
}

[sidenav="open"] sidenav {
    width: 270px
}

input {
    display: block;
    width: 100%;
    padding: 0.5625rem 1rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #dee2e6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
}

input:focus {
    outline: 1px solid #495057;
}

.input-container {
    padding-top: 10px;
    padding-bottom: 5px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    padding: 20px;
    background-color: #ffffff;
}

.card-content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card-row {
    display: flex;
    flex-direction: column;
    width: calc(50% - 10px);
    margin-bottom: 10px;
}

.card-row.full-width {
    width: 100%;
}

.card-label {
    font-size: 0.85em;
    color: #333;
    margin-bottom: 4px;
}

.card-value {
    color: #666;
}

@media (max-width: 300px) {
    .card-row {
        width: 100%;
    }
}

@keyframes placeholderShimmer {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}

[loader]> :first-child {
    display: block !important;
}

[loader] > [template] .load-value {
    display: block !important;
    /* Your placeholder's size may vary depending on content size */
    width: 100%;
    color: transparent;
    background: #f6f7f8;
    background-image: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    position: relative;
    overflow: hidden;
    animation: placeholderShimmer 1.5s linear infinite forwards;
}

.loading .load-value:before {
    content: "\00a0";
    /* Non-breaking space character to ensure the span has height before content loads */
}

.progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    height: 5px;
    position: absolute;
    bottom: 0px;
    border: 1px solid transparent;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.progress {
    height: 100%;
    background-color: #76b852;
    text-align: right;
    transition: width 0.5s ease-in-out;
    border-bottom-left-radius: 4px;
}