* {
	padding: 0px;
	margin: 0px;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	height: 100%;
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
	color: #000;
	fill: #000;
	font-size: 1rem;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
	fill: inherit;
}

a:hover {
	color: #f7cc02;
	fill: #f7cc02;
}

nav {
	height: auto;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	background: transparent;
	z-index: 1;
}

.sticky-nav {
	position: sticky;
	background-color: #f0f0f0;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
	height: auto;
	right: 0;
	top: 0;
}

main {
	min-height: calc(100vh - 70px);
}

i {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.centered {
	display: flex;
	/* align-items: center; */
	justify-content: center;
	flex-direction: column;
	min-height: calc(100vh - 70px);
	margin: auto;
	padding: 20px;
}

.datatable-container {
	overflow: auto;
}
.datatable-container table {
	width: 100%;
	border-collapse: collapse;
}
.datatable-container tr {
	border-bottom: 1px solid darkgray;
}
.datatable-container td {
	padding: 10px;
}
.datatable-container .header td {
	position: sticky;
	top: 0;
	padding: 10px 0px;
}
.datatable-container .header td:not(:first-child) {
	padding-left: 10px;
}
.datatable-container .header .sort {
	position: absolute;
	bottom: 18px;
	right: 18px;
	float: right;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 70px);
	text-align: center;
}

.logo-name {
	font-size: 26px;
	width: 200px;
}

/* seconday lighter yellow FDE87D */
.logo-name-colored {
	color: #f7cc02;
	text-shadow: 1px 1px 2px #505050;
	/* -webkit-text-stroke: 1px black; */
}

[menu-icon] {
	display: block;
	min-width: 30px;
	cursor: pointer;
	margin: 0px 15px;
}

[menu-icon] span {
	position: relative;
	display: block;
	height: 2px;
	width: 100%;
	margin-top: 6px;
	margin-bottom: 6px;
	transition: all 0.25s;
	background-color: #000;
}

[menu-icon]:hover span {
	background-color: #f7cc02;
}

[menu-icon="active"] span:first-child {
	transform: rotate(45deg) translate(-1px, 6px);
}

[menu-icon="active"] span:nth-child(2) {
	display: none;
}

[menu-icon="active"] span:last-child {
	transform: rotate(-45deg) translate(-1px, -6px);
}

/* Left arrow */
[menu-icon="active"].arrow-left span:first-child {
	width: 15px;
}

[menu-icon="active"].arrow-left span:first-child {
	transform: rotate(-45deg) translate(-5px, 1px);
	width: 12px;
}

[menu-icon="active"].arrow-left span:nth-child(2) {
	display: block;
}

[menu-icon="active"].arrow-left span:last-child {
	transform: rotate(45deg) translate(-5px, -1px);
	width: 12px;
}

/* right arrow */
[menu-icon="active"].arrow-right span:first-child {
	width: 15px;
	margin-left: auto;
}

[menu-icon="active"].arrow-right span:first-child {
	transform: rotate(45deg) translate(14px, -8px);
	width: 12px;
	margin-left: unset;
	margin-right: auto;
	left: 5px;
}

[menu-icon="active"].arrow-right span:nth-child(2) {
	display: block;
}

[menu-icon="active"].arrow-right span:last-child {
	transform: rotate(-45deg) translate(14px, 8px);
	width: 12px;
	margin-right: auto;
	left: 5px;
}

button {
	padding: 15px 30px;
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
	border: 2px solid #f7cc02;
	background-color: #f0f0f0;
	border-radius: 8px;
}

button:hover {
	background-color: #f7cc02;
	color: #000;
	fill: #000;
}

.second-container {
	display: none;
}

@media (max-width: 768px) {
	.button-question {
		width: 100%;
	}
}

.button-round {
	position: fixed;
	bottom: 18px;
	right: 18px;
	border: 2px solid #f7cc02;
	background-color: #f0f0f0;
	color: #f7cc02;
	border-radius: 50%;
	padding: 15px;
	width: 50px;
	height: 50px;
	z-index: 1;
}

.button-round:hover {
	background-color: #f7cc02;
	color: #000;
	fill: #f7cc02;
}

.button-round i {
	height: 20px;
	fill: #f7cc02;
}

.button-round:hover i {
	fill: #000;
}

sidenav {
	position: fixed;
	top: 0px;
	overflow: hidden;
	background: whitesmoke;
	height: 100vh;
	width: 0px;
	z-index: 10;
}

sidenav .close {
	float: right;
	padding: 10px;
}

sidenav ul li {
	display: flex;
	justify-content: space-between;
	width: 100%;
	line-height: 40px;
	height: 40px;
	overflow: hidden;
	white-space: nowrap;
}

sidenav ul li:hover {
	background: #fff;
}

[sidenav="open"] sidenav {
	width: 270px;
}

.card {
	border: 1px solid #ddd;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 20px;
	background-color: #ffffff;
}

.card:hover {
	background: rgba(0, 0, 0, 0.02);
}

.card-content {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.card-row {
	display: flex;
	flex-direction: column;
	width: calc(50% - 10px);
	margin-bottom: 10px;
}

.card-row.full-width {
	width: 100%;
}

.card-label {
	font-size: 0.85em;
	margin-bottom: 4px;
}

@media (max-width: 300px) {
	.card-row {
		width: 100%;
	}
}

@keyframes placeholderShimmer {
	0% {
		background-position: -468px 0;
	}

	100% {
		background-position: 468px 0;
	}
}

.loading .load-value:before {
	content: "\00a0";
	/* Non-breaking space character to ensure the span has height before content loads */
}

.avatar {
	--avatar-size: 40px;
	width: var(--avatar-size);
	height: var(--avatar-size);
	background-color: #1f99ff;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	position: relative;
}

.avatar.round,
.avatar.round > .avatar-image {
	border-radius: 50%;
}

.avatar-image * {
	width: 100%;
	height: 100%;
	position: absolute;
}

.avatar > .avatar-image {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 2;
	overflow: hidden;
}

.avatar > .avatar-image > img:not([src]) {
	display: none;
}

.avatar > .avatar-name {
	z-index: 1;
	writing-mode: vertical-rl;
	text-orientation: upright;
	text-transform: uppercase;
	overflow: hidden;
	text-overflow: clip;
	white-space: nowrap;
	height: 20px;
	width: 20px;
	letter-spacing: 1em;
}

.avatar-status {
	position: absolute;
	right: 0px;
	bottom: 0px;
	display: flex;
	height: 12px;
	width: 12px;
	border: 2px solid #f7f7f7;
	border-radius: 50%;
	z-index: 3;
	background-color: #f44336;
	transform: translate(12%, 0%);
}

.avatar-status.on {
	background-color: #4caf50;
}

.avatar-status.off {
	background-color: #f44336;
}

footer p {
	font-size: 18px;
	font-weight: 400;
	margin-top: 10px;
	line-height: 1.6;
}

[unique="true"],
[validation="true"] {
	outline: 1px solid green !important;
}

[unique="false"],
[validation="false"] {
	outline: 1px solid red !important;
}

.main-view {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	overflow: auto;
}

.flex-form {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	max-width: 600px;
	margin: auto;
}

.input-300 {
	width: 290px;
	flex-grow: 1;
}

.input-600 {
	width: 100%;
}

.input-icon {
	width: calc(100% - 18px) !important;
}

.floating-icon {
	display: flex;
	position: absolute;
	top: 9px;
	right: 8px;
	font-size: 20px;
}

textarea {
	resize: vertical;
}

@media (max-width: 628px) {
	.input-300 {
		width: 100%;
	}
}

.selected {
	background-color: gainsboro;
}

/* .menu-icon {
        position: fixed;
        left: 15px;
        top: 25px;
        z-index: 11;
    } */

[session] {
	display: none;
}

[session="on"],
[session="idle"] {
	display: block;
}

#admin {
	display: none;
}

#admin[session="on"][admin="true"],
#admin[session="idle"][admin="true"] {
	display: block;
}

@media (max-width: 768px) {
	sidenav#menuL {
		display: block;
	}
}

[menu-icon][session="on"],
[menu-icon][session="idle"] {
	display: block;
}

.show[selected] {
	display: block !important;
}

[hidden],
[template] {
	display: none;
}

tr.hover:hover {
	background: gainsboro;
}

/* WebKit browsers (Chrome, Edge, Safari, Opera) */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:hover {
	background: #f7cc02;
	opacity: 0.08;
}

::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.03);
}

::-webkit-scrollbar-track:hover {
	background: rgba(0, 0, 0, 0.06);
}

/* Firefox browsers */
* {
	scrollbar-width: thin;
	/* Options: auto, thin, none */
	scrollbar-color: rgba(0, 0, 0, 0.09) rgba(0, 0, 0, 0.03);
	/* Thumb color, Track color */
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* Apply the animation to the icon with a class */
[src="./assets/svg/spinner.svg"] {
	animation: spin 2s linear infinite;
	/* Adjust the duration and other properties as needed */
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #333;
		color: #f0f0f0;
		fill: #f0f0f0;
	}

	a:hover {
		color: #f7cc02;
		fill: #f7cc02;
	}

	.sticky-nav {
		background: #333 !important;
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
	}

	sidenav {
		background-color: #222;
	}

	sidenav .nav {
		background-color: #222;
	}

	sidenav ul li:hover {
		background: #444;
	}

	sidenav ul:last-child {
		/* Your styles for the last list item */
		background: #222;
		/* Example style */
	}

	header {
		background-color: #333;
	}

	footer {
		background-color: #145a8b;
		color: #000;
		fill: #000;
	}

	footer a:hover {
		color: #444;
		fill: #444;
	}

	option {
		background-color: #333;
		color: #f0f0f0;
		fill: #f0f0f0;
	}

	button {
		background-color: #222;
		color: #f0f0f0;
	}

	.alt-section:nth-of-type(even) {
		background-color: #333;
	}

	.alt-section:nth-of-type(odd) {
		background-color: #444;
	}

	.card {
		background-color: #1e1e1e;
		border: 1px solid #333;
	}

	.button {
		background-color: #333;
		color: #f0f0f0;
		border: 1px solid #555;
	}

	.button-round {
		background-color: #333;
	}

	[menu-icon] span {
		background-color: #fff;
	}

	[menu-icon]:hover span {
		background-color: #f7cc02;
	}

	.floating-label_outline {
		border-color: inherit;
	}

	.avatar-name {
		color: #000;
		fill: #000;
	}

	.avatar-status {
		border: 2px solid #333;
	}
	tr.hover:hover {
		background: #222;
	}
	.selected {
		background-color: #222;
	}

	::-webkit-scrollbar-thumb {
		background: rgba(
			255,
			255,
			255,
			0.15
		); /* Slightly lighter for contrast */
	}

	::-webkit-scrollbar-thumb:hover {
		background: #f7cc02;
		opacity: 0.5; /* Increase opacity on hover for visibility */
	}

	::-webkit-scrollbar-track {
		background: rgba(255, 255, 255, 0.05); /* Light track background */
	}

	::-webkit-scrollbar-track:hover {
		background: rgba(255, 255, 255, 0.1); /* Slightly brighter on hover */
	}

	/* Firefox browsers - Dark Mode */
	* {
		scrollbar-width: thin; /* Options: auto, thin, none */
		scrollbar-color: rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.05);
	}
}
